[submodule "contrib/babeltrace"]
	path = contrib/babeltrace
	url = https://github.com/TheZorg/babeltrace.git
[submodule "contrib/tigerbeetle"]
	path = contrib/tigerbeetle
	url = git@github.com:TheZorg/tigerbeetle.git
